In [ ]:
import numpy as np 
import pandas as pd 

#for scaling 
from sklearn.preprocessing import MinMaxScaler, StandardScaler

#for encoding
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

#for missing values handling
from sklearn.impute import SimpleImputer

In [ ]:
datasets = pd.read_csv('Data_for_Transformation.csv') 
print("\nData :\n",datasets)

FileNotFoundError: ignored

In [ ]:
X = datasets.iloc[:, :-1].values
print(X)
X_new = datasets.iloc[:,1:3].values
print(X_new)

Scale the input

In [ ]:
scaler = MinMaxScaler()
print(scaler)
X_scaled = scaler.fit_transform(X_new)
print("\n\nScaled X : \n", X_scaled)

In [ ]:
std = StandardScaler()
X_std = std.fit_transform(X_new)
print("\n\nStandardized X : \n", X_std)

In [ ]:
datasets = pd.read_csv('Data_for_Categorical_Values.csv')
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

In [ ]:
X = datasets.iloc[:, :-1].values
Y = datasets.iloc[:, -1].values

Encode the lables

In [ ]:
#convert country names to lable by lable encoding

le = LabelEncoder()
X[ : ,0] = le.fit_transform(X[ : ,0])

In [ ]:
#convert country names to lable by one hot encoding

onehotencoder = OneHotEncoder()
x = onehotencoder.fit_transform(datasets.Country.values.reshape(-1,1)).toarray()

In [ ]:
dfOneHot = pd.DataFrame(x, columns = ["Country_"+str(int(i)) for i in range(datasets.shape[1]-1)])
df = pd.concat([datasets, dfOneHot], axis=1) #column
#droping the country column
df= df.drop(['Country'], axis=1)
#printing to verify
print(df.head())

Missing Values

In [ ]:
datasets = pd.read_csv('Data_for_Missing_Values.csv')

X = datasets.iloc[:, :-1].values
Y = datasets.iloc[:, -1].values

In [ ]:
#drop all rows with null values

datasets.dropna(axis=0,how='all',inplace=True)
print("\nNew Data :",datasets)

#Removing the row with any one null values
#datasets.dropna(axis=0,how='any',inplace=True)

In [ ]:
#replace null values with mean instead delete it

updated_df = datasets;
updated_df['Age']=updated_df['Age'].fillna(updated_df['Age'].mean())
updated_df['Salary']=updated_df['Salary'].fillna(updated_df['Salary'].mean())
updated_df.info()

In [ ]:
new_X = datasets.iloc[:, :-1].values
new_Y = datasets.iloc[:, -1].values

In [ ]:
# handle NAN values

imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")
# Fitting the data, function learns the stats
imputer = imputer.fit(new_X[:, 1:3])
# fit_transform() will execute those stats on the input ie. X[:, 1:3]
new_X[:, 1:3] = imputer.transform(new_X[:, 1:3])

Corelation (The col which are more related remove those)

In [ ]:
corr = new_X.corr()
corr.head()

Exercise Dataset :

In [ ]:
dataset =  pd.read_csv('Exercise-CarData.csv') 
dataset

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [ ]:
X1 = dataset.iloc[:, 2:4].values
X2 = dataset.iloc[:, 5:].values
X = np.concatenate((X1,X2),axis=1,dtype=None)
X

array([[23.0, '46986', '90', ..., 2000, 'three', 1165],
       [23.0, '72937', '90', ..., 2000, '3', 1165],
       [24.0, '41711', '90', ..., 2000, '3', 1165],
       ...,
       [nan, '17016', '86', ..., 1300, '3', 1015],
       [70.0, '??', '86', ..., 1300, '3', 1015],
       [76.0, '1', '110', ..., 1600, '5', 1114]], dtype=object)

In [ ]:
# remove impurity (like NAN)

imputer = SimpleImputer(strategy='constant',missing_values = "three",fill_value= '3')
imputer = imputer.fit(dataset.iloc[:, 9:10].values)
dataset.iloc[:, 9:10] = imputer.transform(dataset.iloc[:, 9:10].values)

imputer = SimpleImputer(strategy='constant',missing_values = "four",fill_value= '4')
imputer = imputer.fit(dataset.iloc[:, 9:10].values)
dataset.iloc[:, 9:10] = imputer.transform(dataset.iloc[:, 9:10].values)

X1 = dataset.iloc[:, 2:4].values
X2 = dataset.iloc[:, 5:].values
X = np.concatenate((X1,X2),axis=1,dtype=None)
X

array([[23.0, '46986', '90', ..., 2000, '3', 1165],
       [23.0, '72937', '90', ..., 2000, '3', 1165],
       [24.0, '41711', '90', ..., 2000, '3', 1165],
       ...,
       [nan, '17016', '86', ..., 1300, '3', 1015],
       [70.0, '??', '86', ..., 1300, '3', 1015],
       [76.0, '1', '110', ..., 1600, '5', 1114]], dtype=object)

In [ ]:
# Scale the input

#min-max scalar
scaler = MinMaxScaler()
X_scaled_min_max = scaler.fit_transform(X)

#std scalar
std = StandardScaler()
X_scaled_std = std.fit_transform(X)

X_scaled_min_max
X_scaled_std

In [ ]:
# replace the nulls

updated_df = dataset;
updated_df['KM']=updated_df['KM'].fillna(updated_df['KM'].mean())
updated_df['HP']=updated_df['HP'].fillna(updated_df['HP'].mean())

Exercise

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/ML_Lab/Exercise-CarData.csv")
Y = data['Price']
X = data.drop(['Price'], axis=1)

In [ ]:
imputer = SimpleImputer(missing_values = np.nan,strategy = "most_frequent")

arr = np.array(data['FuelType']).reshape(-1, 1)
data['FuelType']= imputer.fit_transform(arr).flatten()

In [ ]:
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

data['HP']=data['HP'].replace('????',np.nan)
arr = np.array(data['HP']).reshape(-1, 1)
data['HP']= imputer.fit_transform(arr).flatten()


arr = np.array(data['Age']).reshape(-1, 1)
data['Age']= imputer.fit_transform(arr).flatten()


data['KM']=data['KM'].replace('??',np.nan)
arr = np.array(data['KM']).reshape(-1, 1)
data['KM']= imputer.fit_transform(arr).flatten()

arr = np.array(data['MetColor']).reshape(-1, 1)
data['MetColor']= imputer.fit_transform(arr).flatten()

In [ ]:
dictionary = {
    'one':1,
    'two' :2,
    'three':3,
    'four':4,
    'five':5,
    'six':6,
    'seven':7,
    'eight':8,
    'nine':9
}

n=data['Doors'].size
for i in range(n):
  if(dictionary.get(data['Doors'][i])):
    data['Doors'][i] = dictionary[data['Doors'][i]]

In [ ]:
le = LabelEncoder()
data['FuelType'] = le.fit_transform(data['FuelType'])

In [ ]:
std = StandardScaler()
data['Price'] = std.fit_transform(np.array(data['Price']).reshape(-1,1)).flatten()
data['KM'] = std.fit_transform(np.array(data['KM']).reshape(-1,1)).flatten()
data['Doors'] = std.fit_transform(np.array(data['Doors']).reshape(-1,1)).flatten()
data['HP'] = std.fit_transform(np.array(data['HP']).reshape(-1,1)).flatten()
data['CC'] = std.fit_transform(np.array(data['CC']).reshape(-1,1)).flatten()
data['Weight'] = std.fit_transform(np.array(data['Weight']).reshape(-1,1)).flatten()
data['Age'] = std.fit_transform(np.array(data['Age']).reshape(-1,1)).flatten()